@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap')

*  {
    margin: 0%;
    padding: 200%;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-image: url(css/imagem\ background\ homepage.jpg);
    background-size: contain;
    background-position: initial;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    padding: 0%;
    
}

.conteudo-principal {
    width: 900px; /* largura do elemento principal */
    height: 190px; /* altura do elemento principal */
    padding: 50px; /* preenchimento do elemento principal */
    margin: 0 auto; /* centralizar horizontalmente */
    align-content: flex-start;
}

.conteudo-principal-escrito-titulo { 
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 64px;
    font-style: normal;
    color: aliceblue;
}

.conteudo-principal-escrito-subtitulo {
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    color: aliceblue;
    
}

.rodape {
     padding: 270px;
    display: flex;
  
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 100px;
  column-gap: 300px;
  justify-content: space-evenly;
}

.conteudo-principal-escrito-botao-1 {
    background-color: bisque;
    width: 250px;
    height: 80px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0,25);
    border-radius: 20px;
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: black;

}