@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*  {
    margin: 0;
    padding: 0;
}

a {
    color: rgb(2, 2, 2); /* Define a cor azul para os links dentro de botões */
    text-decoration: none; /* Remove o sublinhado padrão */
    transition: 0.3s
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

body {
    background: url(bufalo1.jpg) no-repeat center center;
    background-size: cover;
    height: 92vh;

}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}


.mobile-menu{
    cursor: pointer; 
    position: absolute;
    top: 20px; 
    right: 20px; 
    font-size: 24px;
    line-height: 24px;
}


.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    
}


.nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 25vw;
        height: 92vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

.nav-list li {
    margin-left: 0;
    
}

.conteudo-principal {
    width: 900px; /* largura do elemento principal */
    height: 190px; /* altura do elemento principal */
    padding: 50px; /* preenchimento do elemento principal */
    margin: 0 auto; /* centralizar horizontalmente */
    align-content: flex-start;
}

.titulo { 
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 64px;
    font-style: normal;
    color: aliceblue;
}

.subtitulo {
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    color: aliceblue;
    
}

button {
    background-color: #fff;
    width: 80px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0,25);
    border-radius: 20px;
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: black;
}
