@importar url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap')

*  {
    margem: 0%;
    preenchimento: 200%;
    dimensionamento de caixa:caixa de fronteira;
    decoração de texto:nenhum;
}

corpo{
    tamanho da fonte: 100%;
    imagem de fundo: url(css/imagem\ background\ homepage.jpg);
    tamanho de fundo:conter;
    posição de fundo:inicial;
    fundo de repetição:sem repetição;
    largura: 100%;
    margem: 0;
    preenchimento: 0%;
    
}

.conteudo-principal{
    largura: 900pixels;/* largura do elemento principal */
    altura: 190pixels;/* altura do elemento principal */
    preenchimento: 50pixels;/* preenchimento do elemento principal */
    margem: 0auto;/* centralizar horizontalmente */
    alinhar conteúdo:início flexível;
}

.conteudo-principal-escrito-título{
    família de fontes: "Justo",sem serifa;
    espessura da fonte: 400;
    tamanho da fonte: 64pixels;
    estilo de fonte:normal;
    cor:aliceazul;
}

.conteudo-principal-escrito-subtitulo{
    família de fontes: "Sarala",sem serifa;
    espessura da fonte: 400;
    tamanho da fonte: 24pixels;
    estilo de fonte:normal;
    cor:aliceazul;
    
}

.rodape{
     preenchimento: 270pixels;
    mostrar:flexível;
  
  brecha: 10pixels;
  brecha: 10pixels 20pixels;/* intervalo de coluna entre linhas */
  lacuna entre linhas: 100pixels;
  lacuna de coluna: 300pixels;
  justificar-conteúdo:espaço uniformemente;
}

.conteúdo-principal-escrito-botao-1{
    cor de fundo:biscoito;
    largura: 250pixels;
    altura: 80pixels;
    fronteira:nenhum;
    Sombra da caixa: 4pixels 5pixels 4pixels RGB(0, 0, 0, 0,25);
    raio da fronteira: 20pixels;
    família de fontes: "Sarala",sem serifa;
    espessura da fonte: 400;
    tamanho da fonte: 10pixels;
    cor:preto;

}
